.circle{
	animation: circle 10s infinite;
	position: relative;
	top: calc(50vh - 1em);
	left: calc(50vw - 1em);
	animation-timing-function: linear;
	animation-direction: alternate;
}

.line{
	animation: line 10s infinite ;
	animation-timing-function: linear;
	animation-direction: alternate;
}

.figure{
	animation: figure 10s infinite ;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes line{
  0%{
		transform: translate(0, 64px);
	}
	25%{
		transform: translate(calc(25vw - 1em), calc(100vh - 1em));
	}
	50%{
		transform: translate(calc(50vw - 1em), 64px);
	}
	75%{
		transform: translate(calc(75vw - 1em),calc(100vh - 1em));		
	}
	100%{
		transform: translate(calc(100vw - 1em),64px);
	}
}

@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-300px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-300px)
              rotate(-360deg);
  }
}

@keyframes figure{
	0%{
		transform: translate(0, 64px);
	}
	30%{
		transform: translate(calc(100vw - 1em), 64px);
	}
	50%{
		transform: translate(calc(100vw - 1em), calc(100vh - 1em));
	}
	80%{
		transform: translate(0,calc(100vh - 1em));		
	}
	100%{
		transform: translate(0, 64px);
	}
}
